<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>P04-Filters</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>prefix</param-name>
	<param-value>/WEB-INF/context/</param-value>
  </context-param>
  
  <context-param>
    <param-name>suffix</param-name>
	<param-value>.jsp</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>controller</servlet-name>
    <servlet-class>org.mql.jee.web.ControllerServlet</servlet-class>
    <init-param>
    	<param-name>source</param-name>
    	<param-value>companies</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller</servlet-name>
    <url-pattern>/company/*</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>idFilter</filter-name>
    <filter-class>org.mql.jee.web.IdFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>idFilter</filter-name>
    <url-pattern>/company/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>params</filter-name>
    <filter-class>org.mql.jee.web.ParametersFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>params</filter-name>
    <url-pattern>/company/*</url-pattern>
  </filter-mapping>
</web-app>